.nameLogo {

    min-width: 40%;
    min-height: 4vh;
    background-color: aqua;
    border-radius: 50%;
    /* z-index: 1; */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.btnDropdown {
    width: 100%;
    background-color: white;
    border: none;
    color: black;
}

#btnoption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 10px;
    background-color: black;
    border: none;
    /* outline: none; */
    color: white;
}

header h1 {
    color: white;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    border: none;
    outline: none;
    justify-content: space-around;
}

/* img  */
/* From Uiverse.io by Yaya12085 */
/* From Uiverse.io by simontheonlyone */
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;

}

form input {
    margin-top: 2%;
}

form button {
    margin-top: 4%;
    border: none;
    background-color: black;
    color: white;
    width: 10%;
    justify-content: flex-end;
    align-items: flex-end;
}

/* img  */

#divall {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.borders {
    width: 48%;
    border: 1px solid black;

}